:root {
  --main-color: red;
  --game-field: #3b7597;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-frame-center {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.gameboard-frame {
  background-color: red;
  /* padding: 140px 180px 20px 60px; */
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 40px 1fr 180px;
  grid-template-rows: 40px auto auto;
  grid-template-areas:
    ". game-x-axis ship-container"
    "game-y-axis gameboard ship-container"
    "game-y-axis footer ship-container";
}

.game-narrator {
  padding: 0 20px;
  display: flex;
  background-color: red;
  width: 100%;
  max-width: 722px;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.game-menu {
  padding: 0 20px;
  display: flex;
  background-color: red;
  width: 100%;
  max-width: 722px;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.game-x-axis {
  grid-area: game-x-axis;
  display: flex;
  gap: 20px;
}

.game-y-axis {
  grid-area: game-y-axis;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ship-container {
  grid-area: ship-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ship {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100px;
  height: 100px;
  color: white;
}

.ship-srpite {
  filter: invert(100%) sepia(8%) saturate(37%) hue-rotate(328deg)
    brightness(105%) contrast(100%);
  width: 100%;
}

#gameboard {
  grid-area: gameboard;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  border: 1px solid black;
  grid-template-rows: repeat(10, 50px);
  height: 500px;
}
.gameboard-field {
  width: 100%;
  background-color: var(--game-field);
  border: 1px solid white;
}

.gameboard-field:hover {
  background-color: #dff1f1;
}

/* States while Drag and Drop */

.preview {
  background-color: #dff1f1;
}

.placed {
  background-color: #dff1f1;
}

.is-dragging {
  opacity: 0.6;
}
